/* edit this file to add custom styles */
.inline-figure {
  border: none;
}

.quarto-cover-image {
  display: block;
  width: 200px;
  height: auto;
}

.task {
  margin: 1em 0;
  border: 2px solid gray;
  border-left: 10px solid teal;
  border-radius: 10px;
}

.task-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}

.task-header {
  margin-left: 0em;
  padding-left:  60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: black;
  background-color: rgb(123, 173, 173);
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("../images/task.png");
}




/* named colours */
:root {
  --border-color: #046C9A; /* You can change this to any color */
}

/* Apply a single top border */
body {
  margin-top: 0px;
  border-top: 50px solid var(--border-color); /* Single top border */
}